/MyFirstWebApp/nbproject/private/
/MyFirstWebApp/build/
/PrimeNumWebApp/nbproject/private/
/PrimeNumWebApp/build/
/JavaApplication12/nbproject/private/
/JavaApplication12/build/
/NewInsite/build/
/WebApplication1/nbproject/private/
/NewsInSite/nbproject/private/
/NewsInSite/build/