<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>loggerFilter</filter-name>
        <filter-class>sit.int303.first.filter.loggerFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>loggerFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>SimpleCalculatorServlet</servlet-name>
        <servlet-class>sit.int303.first.servlet.SimpleCalculatorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerySimpleCalculatorServlet</servlet-name>
        <servlet-class>sit.int303.first.servlet.VerySimpleCalculatorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>sit.int303.first.servlet.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrimeNumberServlet</servlet-name>
        <servlet-class>sit.int303.first.servlet.PrimeNumberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductListServlet</servlet-name>
        <servlet-class>sit.int303.first.servlet.ProductListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItemToCartServlet</servlet-name>
        <servlet-class>sit.int303.first.servlet.AddItemToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCartServlet</servlet-name>
        <servlet-class>sit.int303.first.servlet.ShowCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveItemServlet</servlet-name>
        <servlet-class>sit.int303.first.servlet.RemoveItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProductServlet</servlet-name>
        <servlet-class>sit.int303.first.servlet.GetProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>sit.int303.first.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SimpleCalculatorServlet</servlet-name>
        <url-pattern>/SimpleCalc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerySimpleCalculatorServlet</servlet-name>
        <url-pattern>/VerySimpleCalculatorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrimeNumberServlet</servlet-name>
        <url-pattern>/PrimeNumber</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductListServlet</servlet-name>
        <url-pattern>/ProductList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItemToCartServlet</servlet-name>
        <url-pattern>/AddItemToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCartServlet</servlet-name>
        <url-pattern>/ShowCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveItemServlet</servlet-name>
        <url-pattern>/RemoveItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProductServlet</servlet-name>
        <url-pattern>/GetProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>400</error-code>
        <location>/ErrorInfo.html</location>
    </error-page>
</web-app>
